@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -3000px 0;
  }
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  /* background-color: #fefefa; */
  /* margin: 0; */
  background-color: #2d2d2d;
}

.containerWhite {
  background-color: #C7C7C7;
}

.navbar-nav {
  font-family: 'Staatliches', cursive;
  font-weight: 100;
}

.profPic {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.profPic1 {
  margin-top: 80px;
}

.vectorImg {
  height: 100px;
  width: 100px;
}

.projectImg {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  border: 1px solid #C5A568;
}

.galleryDiv {
  height: 255px;
  width: 255px;
}

.headerImg {
  width: 100%;
  height: 625px;
  overflow: hidden;
  /* animation: animatedBackground 150s linea2r infinite; */
  background-image: url("../images/black-and-gold-test.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}


.headerDiv {
  font-family: 'Staatliches', cursive;
  color: #C7C7C7;
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: 80px;
}

.headerDiv span {
  color: #C5A568;
}

.headerContainer {
  position: relative;
}

.footerText {
  font-family: 'Staatliches', cursive;
  color: #C5A568;
  vertical-align: center;
  line-height: 140px;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  height: 140px;
}

.services1 h2 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  /* letter-spacing: .25em; */
  margin-top: 100px;
  font-size: 50px;
}

.services2 h2 {
  font-family: 'Staatliches', cursive;
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
}

.services3 h2 {
  font-family: 'Staatliches', cursive;
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
}

.fa-github {
  color: #C5A568;
}

.responsive {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  color: #C5A568;
}

.serviceIcon {
  margin-left: 50px;
  margin-top: 25px;
}

.iconUnder {
  color: #2d2d2d;
}

.nav-link {
  color: #C5A568 !important;
}

/* Hover */
/* ========================================================== */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect a,
.hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}



/* test */
/* *************************/
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);



/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}

.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */
/**************************/
#parallax-world-of-tyler h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #212121;
  padding: 0;
  margin: 0;
}

/* #parallax-world-of-tyler h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  opacity: .9;
} */

#parallax-world-of-tyler h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}

.aboutMe {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0rem;
}

.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

.first-character2 {
  font-weight: 400;
  float: left;
  font-size: 55px;
  line-height: 45px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Section - Title */
/**************************/
#parallax-world-of-tyler .title {
  background: #c7c7c7;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}

#parallax-world-of-tyler .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-tyler .block {
  background: #c7c7c7;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: justify;
}



/* Extras */
/**************************/
#parallax-world-of-tyler .line-break {
  border-bottom: 1px solid #212121;
  width: 150px;
  margin: 0 auto;
}

#parallax-world-of-tyler .line-break2 {
  border-bottom: 3px solid #212121;
  width: 150px;
  margin: 0 auto;
}